.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
    box-shadow: 0 0 10px #e7e7e7;
    border-radius: 10px;
    padding: 50px;
}

.circularWrapper {
    width: 300px;
    height: 300px;
}

.info {
    text-align: left;
}

.info h2 {
    margin: 10px 0;
}

.alignment-container {
    text-align: center;
}
